<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>KTS Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        .section-title { font-size: 24px; margin-top: 20px; }
        .columns { display: flex; gap: 40px; }
        .column { flex: 1; }
        table { width: 100%; border-collapse: collapse; margin-top: 10px; }
        th, td { padding: 4px 6px; border-bottom: 1px solid #ddd; font-size: 12px; }
    </style>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div class="app">

    <header class="app-header">
        <img src="{{ url_for('static', path='/images/logo.png') }}" alt="Логотип компании" class="logo">
        <h1>Dashboad продажи</h1>
    </header>

    <div class="grid">

        <div class="card wide">
            <h2>Общий план по выручке</h2>
            <div id="total-bar" class="chart-sm"></div>
        </div>

        <div class="card">
            <h2>План по направлениям</h2>
            <div id="podr-bars" class="chart-md"></div>
        </div>

        <div class="card quote">
            <p>{{ quote }}</p>
        </div>

    </div>

    <div class="card managers">
        <h2>Менеджеры по направлениям</h2>

        <div class="columns">
            {% for podr, managers in managers_by_podr.items() %}
            <div class="column">
                <h3>{{ podr }}</h3>
                <table>
                    <thead>
                    <tr>
                        <th>Менеджер</th>
                        <th>План</th>
                        <th>Факт</th>
                        <th>%</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for m in managers %}
                    <tr>
                        <td>{{ m.manager }}</td>
                        <td>{{ m.plan | rub }}</td>
                        <td>{{ m.tec | rub }}</td>
                        <td>{{ '%.1f'|format(m.percent) }}%</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>

    </div>

</div>
<script>
    const totalPercent = {{ total_percent|round(1) }};
    const totalPlan = {{ total_plan|round(0) }};
    const totalTec = {{ total_tec|round(0) }};

    Plotly.newPlot('total-bar', [{
        type: 'bar',
        x: [totalPercent],
        y: ['План'],
        orientation: 'h',
        marker: { color: '#146CA2' }
    }], {
        xaxis: { range: [0, 100], ticksuffix: '%' },
        margin: { l: 60, r: 20, t: 10, b: 30 },
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)'
    }, { displayModeBar: false });


    const podrNames = {{ by_podr | map(attribute='podr') | list | tojson }};
    const podrPercents = {{ by_podr | map(attribute='percent') | list | tojson }};

    const colors = [
        '#047121',
        '#146CA2',
        '#6B0369'
    ]

    Plotly.newPlot('podr-bars', [{
        type: 'bar',
        x: podrPercents,
        y: podrNames,
        orientation: 'h',
        marker: { 
            color: colors.slice(0, podrNames.length) // берём столько цветов, сколько нужно
        },
        // (опционально) текст на баре
        text: podrPercents.map(p => `${p.toFixed(1)}%`),
        textposition: 'inside',
        insidetextanchor: 'end'
    }], {
        xaxis: { 
            range: [0, 100], 
            ticksuffix: '%',
            showgrid: true,
            gridcolor: '#eee'
        },
        yaxis: { 
            showgrid: false,
            tickfont: {
                family: 'Montserrat, sans-serif',
                size: 14
            }
        },
        margin: { l: 80, r: 20, t: 10, b: 30 },
        paper_bgcolor: 'rgba(0,0,0,0)',
        plot_bgcolor: 'rgba(0,0,0,0)',
        showlegend: false
    }, { 
        displayModeBar: false 
    });

</script>

</body>
</html>
